.Logo {
  width: 199px;
  height: 44px;
  background: #5a5a5a;
  border: 1px dashed #c7c7c7;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  color: white;
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
}
.main-header {
  display: flex;
  justify-content: space-between;
  height: 72px;
  align-items: center;
}
.main-header button {
  color: white;
}
.account-text {
  font-weight: 700;
  font-family: "Bebas Neue";
  font-size: 18px;
  line-height: 120%;
}
